$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1024px,
  'xlarge': 1200px,
);

@mixin mediaMax($size) {
  $breakpoint: map-get($breakpoints, $size);

  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$size}` is not defined in the `$breakpoints` map.";
  }
}

.main_container {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedede;
  height: 100vh;
  .content_container {
    scale: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    aspect-ratio: 578 / 794;
    max-width: 578px;
    max-height: 100vh;
    height: auto;
    .page_selection {
      position: relative;
      box-shadow: 0px 8px 15px 0px #1414141f;
      border: 1px;
      border-radius: 6px;
      width: 100%;
      aspect-ratio: 396 / 196;
      max-width: 396px;
      height: auto;
      padding: 10px 0px;
      @include mediaMax('small') {
        width: 280px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 6px;
        z-index: -1;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.12));
      }
      .page_btn_container {
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 10px 15px 10px 15px;
        & > button {
          width: 100% !important;
        }
        .page_btn {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 18.2px;
          width: 100% !important;
          margin: 0;
          padding: 0;
          color: #1f2128;
          border: none;
          border-radius: 4px;
          background-color: #ffce22;
          width: 340px;
          height: 40px;
          cursor: pointer;
          &:hover {
            background-color: #ffd84d !important;
          }
          &:active {
            background-color: #ffce22 !important;
          }
        }
      }
      .form-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #1f2128;
        padding: 8px 15px 8px 22px;
        .checkbox_container {
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          input[type='checkbox'] {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;
            color: #cdcdcd;
            width: 25px;
            height: 25px;
            border: 1px solid rgba(205, 205, 205, 0.6);
            border-radius: 6px;
            display: grid;
            place-content: center;
            box-shadow: none;
            &:focus-visible {
              outline: none;
            }
            &::before {
              content: '';
              position: relative;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              height: 12px;
              width: 17px;
              opacity: 0;
            }
            &:not(:checked) {
              &:active {
                &:hover {
                  &::before {
                    opacity: 1;
                    background-image: url('/assets/tick2.svg');
                  }
                }
              }
              &:hover {
                border: 1px solid #bdbdbd !important;
                &::before {
                  height: 12px;
                  width: 17px;
                  opacity: 1;
                  background-image: url('/assets/tick.svg'); /* Path to your SVG */
                }
              }
            }
            &:checked {
              background-color: #2469f6;
              border: 1px solid #2469f6;
              // border: 1px solid #2469f6 !important;
              &::before {
                opacity: 1;
                background-image: url('/assets/tick3.svg');
              }
              &:hover {
                border: 1px solid #5087f8 !important;
                background-color: #5087f8 !important;
              }
              &:active {
                background-color: #2469f6 !important;
                border: 1px solid #2469f6 !important;
                &::before {
                  opacity: 1;
                  background-image: url('/assets/tick3.svg');
                }
              }
            }
            &:active {
              position: relative;
              box-shadow: 0px 0px 0px 3px rgba(36, 105, 246, 0.1) !important;
              opacity: 1 !important;
              background-repeat: no-repeat;
              background-position: center;
              border: 1px solid #2469f6;
              background-color: #fff !important;
              &:hover {
                box-shadow: 0px 0px 0px 3px rgba(36, 105, 246, 0.1) !important;
                border: 1px solid rgba(205, 205, 205, 0.6);
              }
            }
          }
        }
      }
    }
  }
}

.page_selection_divider {
  display: block;
  border-bottom: 0.7px solid #cdcdcd;
  margin: 10px 15px 10px 15px;
}
